*{
    font-family: 'Roboto', sans-serif;
}
html.hidden{
    display: none;
}
body{
    background-color: #ff9800;
    color: #ecf0f1;
}

#header{
    height: 50px;
    width: auto;
    overflow: hidden;
    background-color: #ff9800;
    margin-top: 20px;
    box-shadow: 10px 10px 10px #f57c00;
}
#headerLinks li{
    color: black;
    list-style: none;
    display: inline-block;
    text-align: center;
    //border: 2px solid red;
    width: 100px;
}
#headerLinks li a{
    color: #ecf0f1;
}
#headerlinks ul{
    margin-left: auto;
    margin-right: auto;
}
li:hover{
    background-color: #f57c00;
    //border-color: #e74c3c;
}
a:hover{
    background-color: #f57c00;
    //border-color: #e74c3c;
}
a:link{
    text-decoration: none;
    color: #ecf0f1;
}
#content{
    margin-left: 50%;
    margin-right: 50%;
}
#content form{
    margin-left: 60% !important;
}

