*{
    font-family: 'Roboto', sans-serif;
    background-color: #ff9800;
    color: #ecf0f1;
}
#header{
    height: 50px;
    width: auto;
    overflow: hidden;
    background-color: #ff9800;
    margin-top: 20px;
    box-shadow: 10px 10px 10px #f57c00;
}
#headerLinks li{
    color: black;
    list-style: none;
    display: inline-block;
    text-align: center;
    border: 5px solid red;
    padding-left: 10%;
    padding-right: 10%;
    /*border-width: 10px;*/
}
#headerlinks ul{
    margin-left: auto;
    margin-right: auto;
}
#headerLinks:hover{
    background-color: #f57c00;/*:#e74c3c;*/
    border-color: #e74c3c
    color: black;
}
#headerLinks:link{
    text-decoration: none;
    color: #ecf0f1;
}
